<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Flights", flights_path %></li>
  <li class="breadcrumb-item"><%= link_to @flight.id, @flight %></li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<%= render 'form', flight: @flight %>
