<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Flight_histories", flight_histories_path %></li>
  <li class="breadcrumb-item active">Add</li>
</ol>

<%= render 'form', flight_history: @flight_history %>
